*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-color: #eee;
    --background-color-product: white;
    --font-color: white;
    --filler-color-first: darkcyan;
    --filler-color-second: pink;
    --filler-color-third: gray;
    --filler-color-fourth: yellow;
}


html{
    font-size: 62.5%;
}

body{
    font-size: 2rem;
    background: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 4rem;
    flex-wrap: wrap;
    padding: 3rem;
}

.modal{
    width: 80vw;
    height: auto;
    background: var(--background-color-product);
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: sans-serif;
    position: relative;
    display: none;
}

.modal__figure{
    width: 100%;
    height: 100%;
    padding: 4rem;
    background: var(--filler-color-first);
}

.modal__image{
    width: 100%;
    height: 93%;
    object-fit: contain;
}

.modal__section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.modal__heading{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 200%;
    border-bottom: 0.5rem solid var(--filler-color-first);
}

.modal__text{
    font-size: 90%;
}

.modal__link{
    font-size: 80%;
}

.modal__button{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    width: 7rem;
    height: 7rem;
    border: none;
    border-radius: 50%;
    font-size: 130%;
    font-weight: 500;
    background: var(--filler-color-first);
}

.modal__button:hover{
    cursor: pointer;
}

.product{
    width: 32rem;
    height: 40rem;
    background: var(--background-color-product);
    position: relative;
}

.product:hover{
    cursor: pointer;

}

.product:hover .product__figure::after{
    transform: translate(-50%, -50%);
    width: 25rem;
    height: 25rem;
}

.product:hover .product__figure{
    transform: translateY(-2rem) scale(0.9);
}

.product:after{
    content: "";
    position: absolute;
    top: 92%;
    left: 0;
    height: 10%;
    width: 100%;
    background: red;
    z-index: -1;
    filter: blur(0.8rem);
}

.product__color--first::after{
    background: var(--filler-color-first);
}

.product__color--second::after{
    background: var(--filler-color-second);
}

.product__color--third::after{
    background: var(--filler-color-third);
}

.product__color--fourth::after{
    background: var(--filler-color-fourth);
}

.product__figure{
    height: 80%;
    width: 100%;
    padding: 2rem;
    position: relative;
    z-index: 0;
    transition: 0.2s all;
}

.product__figure::after{
    content: "";
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    z-index: -1;
    transition: 0.2s all;
}

.product__figure--first::after{
    background: rgba(0, 139, 139, 0.2);
}

.product__figure--second::after{
    background: rgba(255, 192, 203, 0.2);
}

.product__figure--third::after{
    background: rgba(128, 128, 128, 0.2);
}

.product__figure--fourth::after{
    background: rgba(255, 255, 0, 0.2);
}

.product__image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
}

.product__section{
    width: 100%;
    height: 20%;
    background: green;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product__section--first{
    background: var(--filler-color-first);
}

.product__section--second{
    background: var(--filler-color-second);
}

.product__section--third{
    background: var(--filler-color-third);
}

.product__section--fourth{
    background: var(--filler-color-fourth);
}

.product__button{
    border: none;
    outline: none;
    background: none;
    color: var(--font-color);
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

@media screen and (max-width: 62.5rem) {
    .modal{
        grid-template-columns: 100%;
    }

    .modal__button{
        display: none;
    }
}